name: build ts

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Configure CMake
      run: cmake -B build -S . -A Win32

    - name: Build
      run: cmake --build build --config ${{env.BUILD_TYPE}}

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: add-in release
        path: build/office97/${{env.BUILD_TYPE}}/office97.dll

